@model IEnumerable<WishlistItem>

@{
    ViewData["Title"] = "Wishlist - LuxeDrive";
}


@section Style{

    <link rel="stylesheet" href="~/assets/css/cart/cart.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle"></i><span>HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>
    </ul>

}

<main>

    <section id="cart-table">

        <div class="container mt-5">

            @if (Model.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Car</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WishlistItem wishlist in Model)
                        {
                            <tr>
                                <td><a class="text-decoration-none text-dark" asp-controller="shop" asp-action="Detail" asp-route-id="@wishlist.Car.Id"><img style="width: 100px;" src="~/assets/img/home/@wishlist.Car.CarImages.FirstOrDefault(x=>x.IsMain==true)?.Image" alt=""></a></td>
                                <td><a class="text-decoration-none text-dark" asp-controller="shop" asp-action="Detail" asp-route-id="@wishlist.Car.Id">@wishlist.Car.Name</a></td>
                                <td>@wishlist.Car.CarClass.Name</td>
                                <td>$@wishlist.Car.Price</td>
                                <td><a asp-controller="wishlist" asp-action="RemoveFromWishList" asp-route-wishListItemId="@wishlist.Id" class="btn btn-danger">Remove From Wishlist</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="container">
                    <div style="margin-bottom: 53px;" class="alert alert-warning" role="alert">
                        Wishlist is empty!
                    </div>
                </div>
            }



        </div>



    </section>

</main>
