@model Comfort

@{
    ViewData["Title"] = "Comfort";
}


<div class="container my-5">
    <a class="btn btn-success text-white" asp-action="Create" style="float:right;">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>

                        <td class="py-1">
                            @Model.Title
                        </td>

                    <td class="py-1">
                        @Model.Phone
                    </td>



                        @*    <td class="py-1">
                    @advantage.Name
                    </td>*@

                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@Model.Id">
                                Info
                            </a>

                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">
                                Edit
                            </a>

                            <form asp-action="Delete" asp-route-id="@Model.Id" style="display:inline-block;" method="post">
                                <button type="submit" class="btn btn-outline-danger">
                                    Delete
                                </button>
                            </form>
                        </td>



                    </tr>
                


            </tbody>
        </table>
    </div>


</div>

