@model BlogVM

@{
    ViewData["Title"] = "Blog - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/blog/blog.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle"></i><span>HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>
    </ul>

}



<main>

    <section id="page-title">

        <div class="container">
            <div class="content">
                <div class="title">
                    <a asp-controller="Home" asp-action="Index"><span> Home</span></a>
                    <span> /</span>
                    <span>Blog</span>
                </div>
            </div>
        </div>

    </section>


    <section id="blog">

        <div class="container">

            <div class="row">
                <div class="col-9">

                    @foreach (var blog in Model.Blogs)
                    {
                        <div class="blog">

                            <div class="title">
                                <h2><a asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></h2>
                            </div>

                            <div class="subtitle">
                                <span>@blog.CreateDate.ToString("MMMM dd. yyyy.", new CultureInfo("en"))</span>
                            </div>

                            <div class="content">

                                <div class="img">
                                    <a asp-action="Detail" asp-route-id="@blog.Id"><img src="~/assets/img/blog/@blog.BlogImages.FirstOrDefault(bi => bi.IsMain).Image" alt=""></a>
                                </div>

                                <div class="text">
                                    <p>
                                       @blog.Description
                                    </p>
                                </div>

                                <div class="button">
                                    <a asp-action="Detail" asp-route-id="@blog.Id" ><span><i class="fa-solid fa-plus"></i>Discover</span></a>
                                </div>

                            </div>
                        </div>

                    }



                </div>

                <div class="col-3">

                    <div class="recent-post">

                        <div class="widget">
                            <h5>@Model.SectionHeaders["BlogRecent"]</h5>
                        </div>

                        @foreach (var blog in Model.Blogs)
                        {
                              <div class="information">
                            <div class="media">

                                <div class="media-img">
                                    <a asp-action="Detail" asp-route-id="@blog.Id" ><img src="~/assets/img/blog/@blog.BlogImages.FirstOrDefault().Image" alt=""></a>
                                </div>


                            </div>

                            <div class="content">
                                <div class="text">
                                    <h6><a asp-action="Detail" asp-route-id="@blog.Id"> Manage Time The Best Way</a></h6>
                                </div>

                                <div class="info">
                                        <a asp-action="Detail" asp-route-id="@blog.Id">@blog.CreateDate.ToString("MMMM dd. yyyy.", new CultureInfo("en"))</a>
                                </div>

                            </div>
                        </div>
                        }

                      



                    </div>

                </div>

              @*  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>*@

            </div>

           





        </div>

       


    </section>


    <section id="up">

        <span>TOP</span>
        <i class="fa-solid fa-arrow-up"></i>

    </section>



</main>

@section Scripts{

    <script src="~/assets/js/scroll-to-up.js"></script>

}
