@model Car

@{
    ViewData["Title"] = "Car Detail - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/product-detail/product-detail.css">

}
@if (TempData["Order"] != null)
{
    if ((bool)TempData["Order"] == false)
    {
        <input type="hidden" id="orderError"   />
    }
}
@if (TempData["Wishlist"] != null)
{
    if ((bool)TempData["Wishlist"] == true)
    {
        <input type="hidden" id="wishSuccess" />
    }
    else
    {
        <input type="hidden" id="wishError"   />

    }
}
@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

<main>

    <section id="page-title">

        <div class="container">
            <div class="content">
                <div class="title">
                    <a asp-controller="Home" asp-action="Index"><span> Home</span></a>
                    <span> /</span>
                    <span>Product Detail</span>
                </div>
            </div>
        </div>

    </section>


    <section id="product-detail">

        <div class="container">

            <div class="row">

                <div class="col-8">

                    <div class="product-detail-info">



                        <img src="~/assets/img/home/@Model.CarImages.FirstOrDefault(m => !m.IsMain && !m.IsPreview).Image" alt="">

                        <div class="row">

                            @foreach (var car in Model.CarImages.Where(m => !m.IsMain && !m.IsPreview).Skip(1))
                            {
                                <div class="col-4">
                                    <img src="~/assets/img/home/@car.Image" alt="">
                                </div>
                            }

                           @* <div class="col-4">
                                <img src="~/assets/img/home/product-detail-img3.jpg" alt="">
                            </div>

                            <div class="col-4">
                                <img src="~/assets/img/home/product-detail-img4.jpg" alt="">
                            </div>*@


                        </div>

                        <div class="content">

                            <div class="title">
                                <h2>@Model.Name</h2>
                            </div>

                            <div class="info">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex
                                    ea commodo laborum consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate
                                    velit esse cillum dolore eu fugiat nulla est pariatur. Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.
                                </p>

                                <p>
                                    Sagittis molestie magnis etiam nullam tincidunt hendrerit enim ultricies
                                    phasellus, laoreet nascetur ornare torquent ultrices sapien sodales volutpat
                                    duis, accumsan ridiculus magna dictum cras gravida leo mus ex. Aenean dictum
                                    commodo iaculis fusce arcu, potenti aliquet venenatis leo nulla cras, velit
                                    pharetra quam. Nostra augue ac tempus odio laoreet taciti parturient gravida
                                    rutrum sociis habitant mollis tempor, quis aque nibh nam himenaeos massa turpis
                                    nisi mus cursus semper vehicula ridiculus.
                                </p>

                            </div>


                            <div class="title">
                                <h2>Service Offered In This Vehicle </h2>
                            </div>

                            <div class="info">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo laborum consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla est pariatur. Excepteur
                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                    anim id.
                                </p>

                            </div>


                        </div>


                    </div>



                </div>


                <div class="col-4">

                    <!-- <div style="width: 331px;" class="img">
                        <img style="width: 100%;" src="~/assets/img/home/Rolls-Royce-PNG-Pic.png" alt="">
                    </div> -->

                    <div class="img">
                        <img style="object-fit:cover" src="~/assets/img/home/@Model.CarImages.FirstOrDefault(i => i.IsPreview).Image" alt="">
                    </div>

                    <div class="product-name">
                        <h4>@Model.Name</h4>
                    </div>

                    <div class="tags">

                        @foreach (var tag in Model.CarTags.Select(ct => ct.Tag))
                        {
                            <a href="">@tag.Name</a>
                        }
                      
                    </div>

                    <div class="extra-info">

                        <div class="title">
                            <h5>Extras</h5>
                        </div>

                        <div class="text">
                            <span>
                               @Model.Extra
                            </span>
                        </div>

                    </div>

                    <div class="price-info">

                        <div class="title">
                            <h5>Prices</h5>
                        </div>

                        <!--
                        <div class="price">

                            <span class="currency">$</span>
                            <span>180</span>

                            <div class="price-label">
                                <span>/</span>
                                <span>hour</span>
                            </div>

                        </div> -->

                        <div class="price">

                            <span class="currency">$</span>
                            <span>@Model.Price.ToString("0.####")</span>

                            <div class="price-label">
                                <span>/</span>
                                <span>day</span>
                            </div>

                        </div>

                            <form asp-controller="shop" asp-action="detail" method="post">
                            <div class="rezerv">

                                <label for=""></label>
                                <input placeholder="Full Name:" asp-for="OrderVM.Username">

                                <label for=""></label>
                                <input placeholder="Cell Phone:" asp-for="@Model.OrderVM.Phone">

                                <label for=""></label>
                                <input placeholder="Date:" class="white-placeholder" asp-for="@Model.OrderVM.Date">

                            </div>

                             <div class="items">

                                <div class="button">
                                    <button type="submit"><span><i class="fa-solid fa-plus"></i>Place order</span></button>
                                </div>

                                <div class="button">
                                    <a asp-controller="WishList" asp-action="AddWishlist" asp-route-id="@Model.Id"><span><i class="fa-solid fa-plus"></i>Add Wihlist</span></a>
                                </div>

                             </div>

                           

                            </form>

                           @* <div class="button">
                               <a asp-controller="WishList" asp-action="AddWishlist" asp-route-id="@Model.Id"><span><i class="fa-solid fa-plus"></i>Add Wihlist</span></a>
                            </div>*@

                    </div>




                </div>

            </div>

        </div>

    </section>


    <section id="product-comment">

        <div class="container">

            <div class="col-lg-6">

                <div class="product-comment">

                    <h4 class="heading">Comments (1)</h4>

                    <div class="product-comment-item">

                        <div class="comment">

                            <div class="user-meta">
                                <h2 class="user-name">Elcan Qurbanov</h2>
                                <span class="date">16 iyun 2023</span>
                            </div>

                            <p class="user-comment">
                                Salam
                            </p>


                        </div>

                    </div>

                </div>


                <div class="post-comment">

                    <h2 class="heading">Leave a comment</h2>

                    <form method="post" action="">

                        <textarea placeholder="Message" name="" id="" cols="30" rows="5"></textarea>

                        <div class="button">
                            <button type="submit"><span><i class="fa-solid fa-plus"></i>Post Comment</span></button>
                        </div>

                    </form>

            
                </div>


            </div>







        </div>



    </section>


</main>


@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#orderError").length) {
                toastr["error"]("An error occurred!", "already in use or due to another reason...")
            }

        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#wishSuccess").length) {
                toastr["success"]("Successful operation!", "Hello, Succesded Ordered")
            }
            else if ($("#wishError").length) {
                toastr["error"]("An error occurred!", "already in use or due to another reason...")
            }

        })
    </script>
                    }