@model ShopVM

@{
    ViewData["Title"] = "Shop - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/shop/shop.css">

}
@if (TempData["Order"] != null)
{
    if ((bool)TempData["Order"] == true)
    {
        <input type="hidden" id="orderSuccess" />
    }
}
@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle"></i><span>HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">SHOP</span></a></li>
    </ul>

}


<main>

    <section id="page-title">

        <div class="container">
            <div class="content">
                <div class="title">
                    <a asp-controller="Home" asp-action="Index"><span> Home</span></a>
                    <span> /</span>
                    <span>Shop</span>
                </div>
            </div>
        </div>

    </section>


    <section id="shop">

        <div class="container">

            <div class="row">
                <div class="col-8">

                    <div class="products">

                        <div class="result-count">

                            <p>Showing 1–6 of 10 results</p>

                            <select style="color:#fff; background-color:#141A1C;; border: 1px solid #bfa37c;">
                                <option value="">Default Sorting</option>
                                <option value="">Sort by popularity</option>
                                <option value="">Sort by latest</option>
                                <option value="">Sort by price: low to high</option>
                                <option value="">Sort by price: high to low</option>
                            </select>

                        </div>



                        <div class="product-list">
                            <div class="row">

                                @foreach (var car in Model.Cars)
                                {
                                    <div class="col-6">

                                        <div class="product-info">

                                            <div class="product-img">
                                                <a asp-action="Detail" asp-route-id="@car.Id"><img src="~/assets/img/home/@car.CarImages.FirstOrDefault(ci => ci.IsMain).Image" alt=""></a>
                                            </div>

                                            <div class="content">

                                                <div class="top-holder">

                                                    <a asp-action="Detail" asp-route-id="@car.Id"><h5>@car.Name</h5></a>

                                                    <div class="price">
                                                        <del>$180.00</del>
                                                        <span>$@car.Price</span>
                                                    </div>

                                                </div>

                                                <div class="info">
                                                    <a href="">Expensive</a>
                                                </div>

                                            </div>

                                            <div class="image-inner">

                                                <div class="button">
                                                    <a asp-action="Detail" asp-route-id="@car.Id"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                }


                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-4">

                    <div class="recent-post">

                        <div class="widget">
                            <h5>Recent Posts</h5>
                        </div>

                        @foreach (var car in Model.Cars)
                        {
                            <div class="information">
                                <div class="media">

                                    <div class="media-img">
                                        <a asp-action="Detail" asp-route-id="@car.Id"><img src="~/assets/img/home/@car.CarImages.FirstOrDefault().Image" alt=""></a>
                                    </div>


                                </div>

                                <div class="content">
                                    <div class="text">
                                        <h6><a asp-action="Detail" asp-route-id="@car.Id">@car.Name</a></h6>
                                    </div>

                                    <div class="info">
                                        <a asp-action="Detail" asp-route-id="@car.Id">$@car.Price</a>
                                    </div>

                                </div>
                            </div>
                        }


                    </div>


                    <div class="category">

                        <div class="title">
                            <h5>Categories</h5>
                        </div>

                        <div class="categories-list">

                            <ul>
                               @* @foreach (var category in Model.Categories.Select(cc => cc.CarCategories))
                                {
                                    <a href="">
                                    <li>Expensive</li></a>
                                }*@

                                <a href="">
                                <li>Expensive</li></a>
                                <a href="">
                                <li>Limo Service</li></a>
                            </ul>

                        </div>

                    </div>


                </div>
            </div>




        </div>



    </section>


    <section id="up">

        <span>TOP</span>
        <i class="fa-solid fa-arrow-up"></i>

    </section>


</main>

@section Scripts{

    <script src="~/assets/js/scroll-to-up.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#orderSuccess").length) {
                toastr["success"]("Successful operation!", "Hello, Succesded Ordered")
            }
        })
    </script>
}