@model AboutVM

@{
    ViewData["Title"] = "About Us - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/about/about.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle"></i><span>HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>
    </ul>

}

<main>

    <section id="about-us">

        <div class="background-img">

            <div class="title">
                <h1>About Us</h1>
            </div>

        </div>

    </section>



    <section id="comfort">
        <div class="container">

            <div class="title">
                <h2>
                    @Html.Raw(Model.SectionHeaders["AboutExperience"])
                </h2>
            </div>

            <div class="subtitle">
                <span>@Model.SectionHeaders["AboutExperienceSlogan"]</span>
            </div>

            <div class="line">
            </div>

            <div class="row">

                <div class="col-6">

                    @foreach (var experience in Model.Experiences.Take(2))
                    {
                        <div class="widget">

                            <h5 style="color: #fff;">@experience.Title </h5>

                            <p>
                                @experience.Description
                            </p>

                        </div>
                    }

                </div>

                <div class="col-6">

                    @foreach (var experience in Model.Experiences.Skip(2).Take(2))
                    {
                        <div class="widget">
                            <h5 style="color: #fff;">@experience.Title</h5>

                            <p>
                                @experience.Description
                            </p>
                        </div>
                    }


                </div>
            </div>

        </div>
    </section>



    <section id="car">

        <div class="car-img">
            <img src="~/assets/img/about/merc.webp" alt="">
        </div>

    </section>


    <section id="question">

        <div class="container">

            <div class="title">
                <h2>@Model.SectionHeaders["AboutFaq"]</h2>
            </div>

            <div class="subtitle">
                <span>@Model.SectionHeaders["AboutFaqContent"]</span>
            </div>

            <div class="line">
            </div>


            <div class="widget">

                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Do You Rent To International Visitors?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Viverra accumsan in nisl scelerisque nisi. At risus viverra adipiscing at in tellus. Integer neq u aliquam vestibulum en morbi blandit cursi us risus ultrices ataugue ut lectus arcu sed done.</p><code></code></div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Do You Have Insurance?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Viverra accumsan in nisl scelerisque nisi. At risus viverra adipiscing at in tellus. Integer neq u aliquam vestibulum en morbi blandit cursi us risus ultrices ataugue ut lectus arcu sed done.</p><code></code></div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                How Old Do You Have To Be To Rent A Car?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Viverra accumsan in nisl scelerisque nisi. At risus viverra adipiscing at in tellus. Integer neq u aliquam vestibulum en morbi blandit cursi us risus ultrices ataugue ut lectus arcu sed done.</p><code></code></div>
                        </div>
                    </div>

                 

                </div>


            </div>

            <div class="content-img">
                <div class="row">

                    <div class="col-6">

                        <div class="img">
                            <img src="~/assets/img/about/question-img.jpg" alt="">
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="row">

                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/about/question-img2.jpg" alt="">
                                </div>

                            </div>

                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/about/question-img3.jpg" alt="">
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
            </div>

    </section>



    <section id="need">

        <div class="container">

            <div class="row">

                <div class="col-6">


                    <div class="widget">

                        <div class="title">
                            <h2>@Model.SectionHeaders["AboutNeed"]</h2>
                        </div>

                        <div class="subtitle">
                            <span>@Model.SectionHeaders["AboutNeedSlogan"]</span>
                        </div>

                        <p>
                            @Model.PremiumRental.Description
                        </p>

                        <div class="items">
                            <div>
                                <div class="digit-wrapper">
                                    <span>@Model.PremiumRental.ExperienceCount</span>
                                    <span class="digit-label">+</span>
                                </div>

                                <div class="content">
                                    <p class="text">@Model.PremiumRental.ExperienceTitle</p>
                                </div>
                            </div>

                            <div>
                                <div class="digit-wrapper">
                                    <span>@Model.PremiumRental.ClientNumber</span>
                                    <span class="digit-label">k</span>
                                </div>

                                <div class="content">
                                    <p class="text">@Model.PremiumRental.Clients</p>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

                <div class="col-6">


                    <div class="img">
                        <img src="~/assets/img/about/onlythebest-img.jpg" alt="">
                    </div>




                </div>

            </div>

        </div>

    </section>


    <section id="up">

        <span>TOP</span>
        <i class="fa-solid fa-arrow-up"></i>

    </section>




</main>


@section Scripts{

    <script src="~/assets/js/scroll-to-up.js"></script>

}

