@model HomeVM

@{
    ViewData["Title"] = "LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/home/home.css" />
    <link rel="stylesheet" href="~/assets/slick/slick.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle active-icon"></i><span class="active-word">HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>
    </ul>

}

<main>

    <section id="slider">

        <div class="slider">

            @foreach (var slider in Model.Sliders)
            {
                <div class="slider-img">
                    <img src="~/assets/img/home/@slider.Image" alt="">
                </div>

            }


        </div>

    </section>


    <section id="product">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="product-title">

                        <div class="title">
                            <h2>@Model.Comfort.Title</h2>
                        </div>

                    </div>


                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="product-widget">

                        <div class="widget">

                            <p>
                               @Model.Comfort.Description
                            </p>

                        </div>

                        <div class="call-center">

                            <div class="earphone">
                                <img src="~/assets/img/home/earphone.png" alt="">
                            </div>

                            <div class="call-number">
                                <a href=""> CALL CENTER: @Model.Comfort.Phone</a>
                            </div>

                        </div>

                    </div>


                </div>

                @foreach (var car in Model.Cars)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">

                        <div class="product">

                            <div class="product-img">
                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@car.Id"><img src="~/assets/img/home/@car.CarImages.FirstOrDefault(ci => ci.IsMain).Image" alt=""></a>
                            </div>

                            <div class="image-inner">

                                <a asp-controller ="Shop" asp-action="Detail" asp-route-id="@car.Id">
                                    <h4>@car.CarClass.Name</h4>
                                </a>

                                <div class="price-info">
                                    <div class="price">
                                        <span class="label">from</span>
                                        <span class="currency">$</span>
                                        <span>@car.Price.ToString("0.####")</span>
                                        <span class="price-label">/ day</span>
                                    </div>
                                </div>

                                <div class="description">
                                    <p>@car.ShortDescription</p>
                                </div>

                            </div>

                            <div class="content">
                                
                                <a asp-controller="Shop" asp-action="Detail" asp-route-id="@car.Id">
                                    <h5>@car.Name</h5>
                                </a>


                                <!-- <div class="star-icon">
                                    <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                    <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                    <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                    <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                    <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                </div> -->

                            </div>

                        </div>




                    </div>

                }



            </div>

        </div>

    </section>



    <section id="comfort">
        <div class="container">

            <div class="title">
                <h2>
                    @Html.Raw(Model.SectionHeaders["HomeComfort"])
                </h2>
            </div>

            <div class="subtitle">
                <span>@Model.SectionHeaders["HomeComfortSlogan"]</span>
            </div>

            <div class="line">
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">

                    @foreach (var advantage in Model.Advantages.Take(2))
                    {
                        <div class="widget">

                            <h5 style="color: #fff;">@advantage.Title</h5>

                            <p>
                                @advantage.Description
                            </p>

                        </div>
                    }


                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    @foreach (var advantage in Model.Advantages.Skip(2).Take(2))
                    {
                        <div class="widget">
                            <h5 style="color: #fff;">@advantage.Title</h5>

                            <p>
                                @advantage.Description
                            </p>
                        </div>
                    }
                  

                </div>
            </div>

        </div>
    </section>



    <section id="guarantee">

        <div class="container">

            <div class="row">

                <div class="col-6">

                    <div class="widget">

                        <h3>
                            @Html.Raw(Model.Quarantee.Title)
                        </h3>

                        <span>@Model.Quarantee.SubTitle</span>

                        <p>
                            @Model.Quarantee.Description
                        </p>

                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="row">

                        @foreach (var quarantee in Model.Quarantee.QuaranteeImages)
                        {
                            <div class="col-lg-6 col-md-12 col-sm-12 ">

                                <div class="car-img">

                                    <img src="~/assets/img/home/@quarantee.Image" alt="">

                                </div>

                            </div>
                        }
                        

                    </div>



                </div>

            </div>

        </div>
    </section>


    <section id="fav-car">

        <div style="background-image: url('/assets/img/contact/rolls-roycee.webp')" class="background-img">


        </div>

    </section>


    <section id="team">

        <div class="container">

            <div class="row">

                <div class="title">

                    <h2 style="color: #fff;">@Model.SectionHeaders["HomeTeam"]</h2>

                    <span>@Model.SectionHeaders["HomeTeamContent"]</span>

                    <div class="line">
                    </div>

                </div>

                <div class="persons">

                    <div class="row">

                        @foreach (var team in Model.Teams)
                        {
                            <div class="col-4">

                                <div class="person-img">
                                    <img src="~/assets/img/home/@team.Image" alt="">
                                </div>

                                <div class="content">

                                    <h5 style="color: #fff;">
                                        @team.Name
                                    </h5>

                                    <div class="icon">
                                        <i class="fa-solid fa-phone " style="color: #bfa37c;"></i>
                                        <span>@team.Phone</span>
                                    </div>

                                </div>

                            </div>

                        }


                      
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section id="premium-rental">

        <div class="container">

            <div class="row">

                <div class="col-6">

                    <div class="row">

                        @foreach (var premium in Model.PremiumRental.PremiumRentalImages)
                        {
                            <div class="col-6">

                                <div class="img rental-img">
                                    <img src="~/assets/img/home/@premium.Image" alt="">
                                </div>

                            </div>
                        }
                       

                    </div>



                </div>

                <div class="col-6">

                    <div class="widget">

                        <div class="title">
                            <h2>@Model.PremiumRental.Title</h2>
                        </div>

                        <div class="subtitle">
                            <span>@Model.PremiumRental.SubTitle</span>
                        </div>

                        <p>
                           @Model.PremiumRental.Description
                        </p>

                        <div class="items">
                            <div>
                                <div class="digit-wrapper">
                                    <span>@Model.PremiumRental.ExperienceCount</span>
                                    <span class="digit-label">+</span>
                                </div>

                                <div class="content">
                                    <p class="text">@Model.PremiumRental.ExperienceTitle</p>
                                </div>
                            </div>

                            <div>
                                <div class="digit-wrapper">
                                    <span>@Model.PremiumRental.ClientNumber</span>
                                    <span class="digit-label">k</span>
                                </div>

                                <div class="content">
                                    <p class="text">@Model.PremiumRental.Clients</p>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>

            </div>

        </div>

    </section>



    <section id="car">

        <div class="car-img">
            <img src="~/assets/img/home/rolls-royce3.jpg" alt="">
        </div>

    </section>


    <section id="best-possibilities">

        <div class="container">

            <div class="title">
                <h2>@Model.SectionHeaders["HomeBestPossibilities"]</h2>
            </div>

            <div class="subtitle">
                <span>@Model.SectionHeaders["HomeBestPossibilitiesContent"]</span>
            </div>


            <div class="line">
            </div>

            @foreach (var carClass in Model.CarClasses)
            {
                <div class="information">
                    <div class="box">

                        <div class="car-img">
                            <img src="~/assets/img/home/@carClass.Image" alt="">
                        </div>

                        <div class="title-price-wrapper">


                            <div class="title">
                                <h4>@carClass.Name</h4>
                            </div>

                            <div class="price-info">

                                <span>from</span>

                                <div class="price-inner">
                                    <span class="value">@carClass.StartPrice.ToString("0.####")</span>
                                    <span class="currency">$</span>
                                </div>

                                <span class="price-period">/d</span>

                            </div>
                        </div>

                        <div class="content">

                            <ul>
                                @foreach (var carInfo in carClass.CarClassInfos)
                                {
                                    <li><i class="fa-solid fa-check"></i>@carInfo.Info</li>
                                }
                            
                            </ul>

                        </div>


                        <div class="button">
                            <a asp-controller="Shop" asp-action="Detail"><span><i class="fa-solid fa-plus"></i>Book now</span></a>
                        </div>


                    </div>

                </div>

            }



        </div>
    </section>



    <section id="sale">

        <div style="background-image: url('/assets/img/home/sale-car-img.jpg');" class="background-img">


        </div>

    </section>


    <section id="up">

        <span>TOP</span>
        <i class="fa-solid fa-arrow-up"></i>

    </section>




</main>



@section Scripts{

    <script src="~/assets/js/home.js"></script>
    <script src="~/assets/js/scroll-to-up.js"></script>


    @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/slick/slick.min.js"></script>*@
 

}
