@model ContactVM

@{
    ViewData["Title"] = "Contact Us - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/contact/contact.css">

}


@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle"></i><span>HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>
    </ul>

}


<main>

    <section id="contact-us">

        <div class="contact-us-img">

            <div class="title">
                <h1>Contact Us</h1>
            </div>

        </div>



    </section>



    <section id="comfort">
        <div class="container">

            <div class="title">
                <h2>
                    @Html.Raw(Model.SectionHeaders["ContactComfort"])
                </h2>
            </div>

            <div class="subtitle">
                <span>@Model.SectionHeaders["ContactComfortSlogan"]</span>
            </div>

            <div class="line">
            </div>

            <div class="row">

                <div class="col-6">

                    @foreach (var contact in Model.Contacts.Take(2))
                    {
                      <div class="widget">

                        <h5 style="color: #fff;">@contact.City</h5>


                        <p>@contact.Street</p>
                        <p>Office: @contact.Phone</p>
                        <p>@contact.WorkTime</p>


                      </div>
                        
                    }



                </div>

                <div class="col-6">

                    @foreach (var contact in Model.Contacts.Skip(2).Take(2))
                    {
                        <div class="widget">

                            <h5 style="color: #fff;">@contact.City</h5>


                            <p>@contact.Street</p>
                            <p>Office: @contact.Phone</p>
                            <p>@contact.WorkTime</p>


                        </div>

                    }

                



                </div>

                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.428674496239!2d49.85175681510556!3d40.37719087936975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1678098236806!5m2!1sen!2saz"
                            width="100%;" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>



            </div>

        </div>
    </section>



    <section id="safety">

        <div class="container">

            <div class="row">

                <div class="col-6">

                    <div class="row">

                        @foreach (var premium in Model.PremiumRental.PremiumRentalImages)
                        {
                            <div class="col-6">


                                <div class="img">
                                    <img src="~/assets/img/home/@premium.Image" alt="">
                                </div>

                            </div>
                        }
                       

                    </div>



                </div>

                <div class="col-6">

                    <div class="widget">

                        <div class="title">
                            <h2>@Model.PremiumRental.Title</h2>
                        </div>

                        <div class="subtitle">
                            <span>@Model.PremiumRental.SubTitle</span>
                        </div>

                        <p>
                            @Model.PremiumRental.Description
                        </p>


                    </div>



                </div>

            </div>

        </div>

    </section>

    <section id="up">

        <span>TOP</span>
        <i class="fa-solid fa-arrow-up"></i>

    </section>



</main>


@section Scripts{

    <script src="~/assets/js/scroll-to-up.js"></script>

}
