<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="~/assets/img/icon/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @await RenderSectionAsync("Style", required: false)
    <title>@ViewData["Title"]</title>
    @*<title>LuxeDrive</title>*@
</head>

<body>

    <header>

        <section id="navbar">

            <div class="container">

                <div class="row">

                    <div class="col-3">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/home/logo.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="nav-menu">

                           @RenderSection("NavBar", false)

                        </div>
                    </div>

                    <div class="col-4">

                        <div class="icons">

                            <div class="search">

                                <i class="fa-solid fa-magnifying-glass open-close"></i>

                                <div class="search-input">
                                    <input placeholder="Type to Search..." type="text">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>

                            </div>

                            <a asp-controller="Wishlist" asp-action="Index"><i class="fa-regular fa-heart"></i></a>
                            <a asp-controller="Order" asp-action="Index"><i class="fa-solid fa-car"></i></a>
                            <i class="fa-solid fa-user user"></i>


                            <div class="login-register d-none">
                                <ul>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <form asp-controller="Account" asp-action="Logout" method="post">
                                                <button type="submit" class="dropdown-item">Logout</button>
                                            </form>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" href="#">@User.Identity.Name</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Order" asp-action="index">My Orders</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                    }
                                  
                                </ul>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </section>




    </header>

    @RenderBody()

    <footer>

        <section id="up-footer">

            <div class="container">

                <div class="row">

                    <div class="content">

                        <div class="row">

                            <div class="col-4">

                                <div class="items">

                                    <div class="location-img">
                                        <img src="~/assets/img/home/location.png" alt="">
                                    </div>

                                    <div class="title">
                                        <p>11 Rue de la Mutualite</p>
                                        <p> 92400 Paris </p>
                                    </div>


                                </div>

                            </div>

                            <div class="col-4">

                                <div class="items">

                                    <div class="earphone-img">
                                        <img src="~/assets/img/home/earphone.png" alt="">
                                    </div>

                                    <div class="title">
                                        <p>Phone: (012) 345 6789 0123</p>
                                        <p>Email:luxe@example.com</p>
                                    </div>

                                </div>

                            </div>


                            <div class="col-4">

                                <div class="items">

                                    <div class="speedometer-img">
                                        <img src="~/assets/img/home/speedometer.png" alt="">
                                    </div>

                                    <div class="title">
                                        <p>Mon-Sat 09:00-23:00</p>
                                        <p> Sunday is closed.</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </section>


        <section id="down-footer">

            <div class="container">

                <div class="row">
                    <div class="col-4">

                        <div class="logo-gold">
                            
                            <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/home/logo-gold.png" alt=""></a>

                        </div>

                        <div class="widget">
                            <p>
                                Justo odio dignissimos ducimus qui blanditiis voluptatum deleniti corrupti quos dolores
                                et
                                quas
                                molestias sint occaecati id est laborumesa etdolorum.
                            </p>
                        </div>


                        <div class="content">
                            <a href=""> Call centar: +397 256 38 29 </a>
                        </div>



                    </div>

                    <div class="col-4 nav">

                        <div class="nav-menu">

                            <h5>Quick links</h5>

                            <div class="footer-menu">

                               @RenderSection("Menu", false)
                               
                            </div>
                        </div>

                    </div>

                    <div class="col-4 nav">

                        <div class="nav-menu">

                            <h5>Our Services</h5>

                            <div class="footer-menu-2">
                                <ul>
                                    <li><a href="">Corporate travels</a></li>
                                    <li><a href="">Special events</a></li>
                                    <li><a href="">Airport transport</a></li>
                                    <li><a href="">Wedding limousine</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="footer-bottom-area" style="width: 100%;">

                        <div class="content">
                            © 2023 Qode Interactive, All Rights Reserved
                        </div>

                    </div>
                </div>

            </div>
        </section>


    </footer>


   







    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/09a7df35a3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/assets/js/account.js"></script>
    <script src="~/assets/js/search.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>